
.sosd-background-primary {
  background: $primary !important;
}

.sosd-background-white {
  background: white !important;
  .uk-nav-divider {
    border-top: 1px solid rgba(33, 33, 33, 0.5) !important;
  }
}

.sosd-color-white {
  color: white !important;
}

.sosd-box-shadow {
  box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.4) !important;
}

.sosd-no-margin {
  margin: 0;
}

.color-primary {
  color: $primary !important;
}

.sosd-a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.sosd-none {
  display: none;
}

.sosd-hover-primary {
  color: $black !important;;
  &:hover {
    color: $primary !important;
    cursor: pointer;
  }
  * {
    color: $black !important;
  }
}

body {
  height: 100vh;
}

#app {
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  footer {
    position: absolute;
    bottom: 0;
    display: block;
    height: 60px;
    width: 100%;
    background: #eeeeee;
  }
}
