.sosd-background-primary {
  background: $primary !important;
}

.sosd-background-white {
  background: white !important;
  .uk-nav-divider {
    border-top: 1px solid rgba(33, 33, 33, 0.5) !important;
  }
}

.sosd-color-white {
  color: white !important;
}

.sosd-box-shadow {
  box-shadow: 1px 1px 5px rgba(33, 33, 33, 0.4) !important;
}

.sosd-no-margin {
  margin: 0;
}

.color-primary {
  color: $primary !important;
}

.sosd-a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.sosd-none {
  display: none;
}

.sosd-hover-primary {
  color: $black !important;
  &:hover {
    color: $primary !important;
    cursor: pointer;
  }
  * {
    color: $black !important;
  }
}

body {
  height: 100vh;
}

#app {
  position: relative;
  min-height: 100vh;
  padding-bottom: 40px;

  footer {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding-left: 40px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    color: white;
    background: #042340;
    a {
      text-indent: 5px;
    }
  }
}
nav {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
ul.uk-nav-default.uk-nav-parent-icon.uk-nav {
  a {
    padding: 15px !important;
    font-size: 16px;
    color: #000 !important;
    &:hover {
      font-weight: 500;
      background: lightskyblue;
      color: #fff !important;
    }
  }
  .router-link-active {
    font-weight: 500;
    background: lightskyblue;
    color: #fff !important;
  }
}
